{% extends 'board/default.html' %}
{% load static %}
    {% block css %}
    <link href="{% static 'board/css/style.css' %}" rel="stylesheet">
    {% endblock %}
{% block content %}

<div style="display: flex; margin-top: 60px; height: 90vh">
    <div style="flex-grow: 2; margin-top: 10px; margin-left: 10%; margin-right: 40px">
{#        {% for video in videos %}#}
{#                <div class="ratio ratio-16x9">#}
{#                    <iframe src="{{ video.video.url}}" title="YouTube video" allowfullscreen></iframe>#}
{#                </div>#}
{#        {% endfor %}#}
            <div class="bd-callout">
            <p class="h3 font-weight-bolder">{{ article.title }}</p>
            <p class="h5 font-weight-normal">{{ article.text }}</p>
                {% if article.image %}
                    <p><img src="{{ article.image.url }} " width="20%"></p>
                {% endif %}
                {% if article.video %}
                    <iframe src="{{ article.video.url}}" title="Video" allowfullscreen></iframe>
                {% endif %}
            </div>
    </div>
    <div style="border: 1px solid black; font-size: 25px; flex-grow: 1; margin-top: 10px; margin-right: 10%">
        <div class="item sidebar">
            <ul>
                {% for category in categories %}
                <li>
                    <button id="category_buttons" class="btn btn-light">
                        <a class="a_cat_filter" href="{% url 'board:category' category.id %}">{{ category.name }}</a>
                    </button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}